<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    {% if id != 0 %}
    <h1>Shipment #{{id}}, {{name}}</h1>
    {% endif %}
    <form action="/add/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{id}}">
        <table border="1">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" name="name" value="{{name}}">
                </td>
            </tr>
            <tr>
                <td>
                    Address
                </td>
                <td>
                    <input type="text" name="address" value="{{address}}">
                </td>
            </tr>
            <tr>
                <td>
                    Tracking number
                </td>
                <td>
                    <input type="text" disabled value="{{tracking}}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Edit">
                </td>
                <td>
                    {% if id != 0 %}
                    <a href="/delete/{{id}}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
</body>
</html>